<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Layout iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Layout macOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Layout tvOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B73246EA1E2CF84400CE3C79</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B73246F21E2CF84400CE3C79</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B7936AEC1DF1A66400B1161C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B7936AF51DF1A66500B1161C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B7A023371E198B2000C8AF64</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
